#gg{
    padding: 11px;
    margin-right: 5px;
    border: 2px solid black;
}

#notgg{
    border: 2px solid black;
    padding: 11px;
}

#gg1{
    padding: 11px;
    margin-right: 5px;
    border: 2px solid black;
}

#notgg1{
    border: 2px solid black;
    padding: 11px;
}